.input-container{
    padding: 5px;
}
.input-label{
    display: block;
    margin-left: 20px;
    font-size: 24px;
}
.input-element{
    display: block;
    margin: 0 auto;
    width: 90%;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 30px;
    font-size: 20px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}